In [7]:
myset={1,2,3,4,4,4}

In [8]:
myset

{1, 2, 3, 4}

In [9]:
mys={"Hello",1.3,5}

In [10]:
mys

{1.3, 5, 'Hello'}

In [11]:
type(myset)

set

In [12]:
type(myset)

set

In [13]:
myset={1,2,3,4,[1,2,3]}

TypeError: unhashable type: 'list'

In [14]:
myset=set([1,2,3,4])

In [15]:
myset

{1, 2, 3, 4}

In [16]:
my_set = {1, 2, [3, 4]}

TypeError: unhashable type: 'list'

In [21]:
print(type(set()))

<class 'set'>

In [22]:
myset

{1, 2, 3, 4}

In [25]:
myset[1:3]

TypeError: 'set' object is not subscriptable

myset.add(5

In [27]:
myset.add(55)

In [28]:
myset

{1, 2, 3, 4, 55}

In [30]:
myset.remove(4)

myset

In [31]:
myset

{1, 2, 3, 55}

In [32]:
myset.remove(2)

In [33]:
myset

{1, 3, 55}

In [39]:
myset.update([111,2,3])

In [41]:
myset.add(0)

In [42]:
myset

{0, 1, 2, 3, 55, 111}

In [45]:
myset.discard(211)

In [47]:
myset.remove(211)

KeyError: 211

In [61]:
val=set("Hello")

In [62]:
val

{'H', 'e', 'l', 'o'}

In [63]:
val.pop()

'e'

In [67]:
val

{1, 'H', 'l', 'o'}

In [68]:

val.add(1)

In [69]:
new=val.copy()

In [70]:
new

{1, 'H', 'l', 'o'}

In [71]:
new.clear()

In [72]:
new

set()

In [107]:
a={1,2,3,4,5}

In [108]:
b={4,6,7,8,9,}

In [109]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [110]:
a.intersection(b)

{4}

In [111]:
print(a-b)
print(b-a)

{1, 2, 3, 5}
{8, 9, 6, 7}

In [112]:
print(a&b)

{4}

In [113]:
b.symmetric_difference(a)

{1, 2, 3, 5, 6, 7, 8, 9}

In [121]:
b.symmetric_difference_update(a)
print(val)

None

In [122]:
b.symmetric_difference(a)

{1, 5, 6, 7, 8, 9}

In [123]:
A = {'a', 'c', 'd'}
B = {'c', 'd', 'e' }

result = A.symmetric_difference_update(B)
result2 = A.symmetric_difference(B)
print('A =', A)
print('B =', B)
print('result =', result)
print('result =', result2)

A = {'e', 'a'}
B = {'e', 'c', 'd'}
result = None
result = {'a', 'c', 'd'}

In [127]:
A = {'a', 'c', 'd'}
B = {'d', 'de', 'e' }

In [128]:
A.isdisjoint(B)

False

In [129]:
a={1,2,3,4,6,7}
b={5,1,3,4,5,7}
c={1,4,5,6,7,9}

In [130]:
a.intersection(b,c)

{1, 4, 7}

In [131]:
a.intersection_update(b,c)

In [135]:
print(a,b,c)

{1, 4, 7} {1, 3, 4, 5, 7} {1, 4, 5, 6, 7, 9}

In [140]:
c.difference(a,b)

{6, 9}

In [141]:
print(a,b,c)

{1, 4, 7} {1, 3, 4, 5, 7} {1, 4, 5, 6, 7, 9}

In [144]:
c.difference_update(a,b)
print(a,b,c)

{1, 4, 7} {1, 3, 4, 5, 7} {6, 9}

In [143]:
c.difference(a,b)

{6, 9}

In [149]:
b.issuperset(a)

True

In [146]:
print(a,b,c)

{1, 4, 7} {1, 3, 4, 5, 7} {6, 9}

In [154]:
mys=set('aakash')

In [156]:
'a' in mys

True

In [158]:
for i in mys:
    print(i)

s
h
a
k

In [161]:
mys.all()

AttributeError: 'set' object has no attribute 'all'

In [162]:
l=[1,2,3]

In [166]:
s=set([1,2,0])

In [167]:
s

{0, 1, 2}

In [168]:
all(s)

False

In [1]:
s=set("Singhb")
any(s)

True

In [3]:
list(enumerate(s,44))

[(44, 'g'), (45, 'n'), (46, 'b'), (47, 'h'), (48, 'i'), (49, 'S')]

In [5]:
a=set([1,2,3,6])

In [7]:
len(a)

4

In [9]:
max(a)

6

In [11]:
sorted(a)

[1, 2, 3, 6]

In [12]:
sum(a)

12

In [ ]:
# Frozensets
# initialize A and B

Try these examples on Python shell.

>>> A.isdisjoint(B)
False
>>> A.difference(B)
frozenset({1, 2})
>>> A | B
frozenset({1, 2, 3, 4, 5, 6})
>>> A.add(3)
...
AttributeError: 'frozenset' object has no attribute 'add'

In [13]:
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

In [14]:
frozenset({1, 2, 3, 4, 5, 6})

frozenset({1, 2, 3, 4, 5, 6})

In [15]:
A.isdisjoint(B)

False

In [16]:
A.difference(B)

frozenset({1, 2})

In [18]:
A[0]

TypeError: 'frozenset' object is not subscriptable

In [5]:
mydict={'Name':'Akash Singh','Age':21,'College':"TRident"}

In [6]:
type(mydict)

dict

In [7]:
mydict

{'Name': 'Akash Singh', 'Age': 21, 'College': 'TRident'}

In [8]:
mydict.get('Name')

'Akash Singh'

In [9]:
mydict['Name']

'Akash Singh'

In [11]:
mydict.get('roll')

In [13]:
mydict['Name']="Vikash Rajput"

In [14]:
mydict

{'Name': 'Vikash Rajput', 'Age': 21, 'College': 'TRident'}

In [28]:
myd=dict({1:'Apple',2:"Ball"})

In [29]:
val,val1=myd

In [33]:
myd[val1]

'Ball'

In [31]:
val

1

In [42]:
md={1:'Car',2:'Cycle'}

In [43]:
md

{1: 'Car', 2: 'Cycle'}

In [45]:
md.pop(2)

'Cycle'

In [46]:
md

{1: 'Car'}

In [48]:
md[3]="Van"

In [49]:
md

{1: 'Car', 3: 'Van'}

md.popitem()

In [51]:
val=md.popitem()

In [52]:
val

(1, 'Car')

In [53]:
val[1]

'Car'

In [54]:
md.clear()

In [55]:
md

{}

In [56]:
del md

In [60]:
md={1:'Car',2:'Cycle'}

In [62]:
new=md.copy()

In [63]:
new

{1: 'Car', 2: 'Cycle'}

In [64]:
val=md.copy()

In [65]:
val

{1: 'Car', 2: 'Cycle'}

In [66]:
new

{1: 'Car', 2: 'Cycle'}

In [67]:
md[1]="Scorpio"

In [68]:
val

{1: 'Car', 2: 'Cycle'}

In [69]:
md.items()

dict_items([(1, 'Scorpio'), (2, 'Cycle')])

In [70]:
md.keys()

dict_keys([1, 2])

In [71]:
keys=['a','b','c','d']

In [72]:
value=[1]

In [73]:
vowel={key:list(value) for key in keys}

In [74]:
vowel

{'a': [1], 'b': [1], 'c': [1], 'd': [1]}

In [77]:
value.append(2)
print(vowel)

{'a': [1], 'b': [1], 'c': [1], 'd': [1]}

In [76]:
vowel

{'a': [1], 'b': [1], 'c': [1], 'd': [1]}

In [78]:
# vowels keys
keys = {'a', 'e', 'i', 'o', 'u' }
value = [1]

vowels = { key : list(value) for key in keys }
# you can also use { key : value[:] for key in keys }
print(vowels)

# updating the value
value.append(2)
print(vowels)

{'o': [1], 'e': [1], 'a': [1], 'u': [1], 'i': [1]}
{'o': [1], 'e': [1], 'a': [1], 'u': [1], 'i': [1]}

{'o': [1], 'e': [1], 'a': [1], 'u': [1], 'i': [1]}
{'o': [1], 'e': [1], 'a': [1], 'u': [1], 'i': [1]}

In [80]:
md

{1: 'Scorpio', 2: 'Cycle'}

In [81]:
for item in md.items():
    print(item)

(1, 'Scorpio')
(2, 'Cycle')

In [83]:
list(sorted(md.keys()))

[1, 2]

In [91]:
squres={x:x*x for x in range(1000000) if x%2==0}

In [92]:
squres

{0: 0,
 2: 4,
 4: 16,
 6: 36,
 8: 64,
 10: 100,
 12: 144,
 14: 196,
 16: 256,
 18: 324,
 20: 400,
 22: 484,
 24: 576,
 26: 676,
 28: 784,
 30: 900,
 32: 1024,
 34: 1156,
 36: 1296,
 38: 1444,
 40: 1600,
 42: 1764,
 44: 1936,
 46: 2116,
 48: 2304,
 50: 2500,
 52: 2704,
 54: 2916,
 56: 3136,
 58: 3364,
 60: 3600,
 62: 3844,
 64: 4096,
 66: 4356,
 68: 4624,
 70: 4900,
 72: 5184,
 74: 5476,
 76: 5776,
 78: 6084,
 80: 6400,
 82: 6724,
 84: 7056,
 86: 7396,
 88: 7744,
 90: 8100,
 92: 8464,
 94: 8836,
 96: 9216,
 98: 9604,
 100: 10000,
 102: 10404,
 104: 10816,
 106: 11236,
 108: 11664,
 110: 12100,
 112: 12544,
 114: 12996,
 116: 13456,
 118: 13924,
 120: 14400,
 122: 14884,
 124: 15376,
 126: 15876,
 128: 16384,
 130: 16900,
 132: 17424,
 134: 17956,
 136: 18496,
 138: 19044,
 140: 19600,
 142: 20164,
 144: 20736,
 146: 21316,
 148: 21904,
 150: 22500,
 152: 23104,
 154: 23716,
 156: 24336,
 158: 24964,
 160: 25600,
 162: 26244,
 164: 26896,
 166: 27556,
 168: 28224,
 170: 28900,
 172: 29584,
 174: 30276,
 176: 30976,
 178: 31684,
 180: 32400,
 182: 33124,
 184: 33856,
 186: 34596,
 188: 35344,
 190: 36100,
 192: 36864,
 194: 37636,
 196: 38416,
 198: 39204,
 200: 40000,
 202: 40804,
 204: 41616,
 206: 42436,
 208: 43264,
 210: 44100,
 212: 44944,
 214: 45796,
 216: 46656,
 218: 47524,
 220: 48400,
 222: 49284,
 224: 50176,
 226: 51076,
 228: 51984,
 230: 52900,
 232: 53824,
 234: 54756,
 236: 55696,
 238: 56644,
 240: 57600,
 242: 58564,
 244: 59536,
 246: 60516,
 248: 61504,
 250: 62500,
 252: 63504,
 254: 64516,
 256: 65536,
 258: 66564,
 260: 67600,
 262: 68644,
 264: 69696,
 266: 70756,
 268: 71824,
 270: 72900,
 272: 73984,
 274: 75076,
 276: 76176,
 278: 77284,
 280: 78400,
 282: 79524,
 284: 80656,
 286: 81796,
 288: 82944,
 290: 84100,
 292: 85264,
 294: 86436,
 296: 87616,
 298: 88804,
 300: 90000,
 302: 91204,
 304: 92416,
 306: 93636,
 308: 94864,
 310: 96100,
 312: 97344,
 314: 98596,
 316: 99856,
 318: 101124,
 320: 102400,
 322: 103684,
 324: 104976,
 326: 106276,
 328: 107584,
 330: 108900,
 332: 110224,
 334: 111556,
 336: 112896,
 338: 114244,
 340: 115600,
 342: 116964,
 344: 118336,
 346: 119716,
 348: 121104,
 350: 122500,
 352: 123904,
 354: 125316,
 356: 126736,
 358: 128164,
 360: 129600,
 362: 131044,
 364: 132496,
 366: 133956,
 368: 135424,
 370: 136900,
 372: 138384,
 374: 139876,
 376: 141376,
 378: 142884,
 380: 144400,
 382: 145924,
 384: 147456,
 386: 148996,
 388: 150544,
 390: 152100,
 392: 153664,
 394: 155236,
 396: 156816,
 398: 158404,
 400: 160000,
 402: 161604,
 404: 163216,
 406: 164836,
 408: 166464,
 410: 168100,
 412: 169744,
 414: 171396,
 416: 173056,
 418: 174724,
 420: 176400,
 422: 178084,
 424: 179776,
 426: 181476,
 428: 183184,
 430: 184900,
 432: 186624,
 434: 188356,
 436: 190096,
 438: 191844,
 440: 193600,
 442: 195364,
 444: 197136,
 446: 198916,
 448: 200704,
 450: 202500,
 452: 204304,
 454: 206116,
 456: 207936,
 458: 209764,
 460: 211600,
 462: 213444,
 464: 215296,
 466: 217156,
 468: 219024,
 470: 220900,
 472: 222784,
 474: 224676,
 476: 226576,
 478: 228484,
 480: 230400,
 482: 232324,
 484: 234256,
 486: 236196,
 488: 238144,
 490: 240100,
 492: 242064,
 494: 244036,
 496: 246016,
 498: 248004,
 500: 250000,
 502: 252004,
 504: 254016,
 506: 256036,
 508: 258064,
 510: 260100,
 512: 262144,
 514: 264196,
 516: 266256,
 518: 268324,
 520: 270400,
 522: 272484,
 524: 274576,
 526: 276676,
 528: 278784,
 530: 280900,
 532: 283024,
 534: 285156,
 536: 287296,
 538: 289444,
 540: 291600,
 542: 293764,
 544: 295936,
 546: 298116,
 548: 300304,
 550: 302500,
 552: 304704,
 554: 306916,
 556: 309136,
 558: 311364,
 560: 313600,
 562: 315844,
 564: 318096,
 566: 320356,
 568: 322624,
 570: 324900,
 572: 327184,
 574: 329476,
 576: 331776,
 578: 334084,
 580: 336400,
 582: 338724,
 584: 341056,
 586: 343396,
 588: 345744,
 590: 348100,
 592: 350464,
 594: 352836,
 596: 355216,
 598: 357604,
 600: 360000,
 602: 362404,
 604: 364816,
 606: 367236,
 608: 369664,
 610: 372100,
 612: 374544,
 614: 376996,
 616: 379456,
 618: 381924,
 620: 384400,
 622: 386884,
 624: 389376,
 626: 391876,
 628: 394384,
 630: 396900,
 632: 399424,
 634: 401956,
 636: 404496,
 638: 407044,
 640: 409600,
 642: 412164,
 644: 414736,
 646: 417316,
 648: 419904,
 650: 422500,
 652: 425104,
 654: 427716,
 656: 430336,
 658: 432964,
 660: 435600,
 662: 438244,
 664: 440896,
 666: 443556,
 668: 446224,
 670: 448900,
 672: 451584,
 674: 454276,
 676: 456976,
 678: 459684,
 680: 462400,
 682: 465124,
 684: 467856,
 686: 470596,
 688: 473344,
 690: 476100,
 692: 478864,
 694: 481636,
 696: 484416,
 698: 487204,
 700: 490000,
 702: 492804,
 704: 495616,
 706: 498436,
 708: 501264,
 710: 504100,
 712: 506944,
 714: 509796,
 716: 512656,
 718: 515524,
 720: 518400,
 722: 521284,
 724: 524176,
 726: 527076,
 728: 529984,
 730: 532900,
 732: 535824,
 734: 538756,
 736: 541696,
 738: 544644,
 740: 547600,
 742: 550564,
 744: 553536,
 746: 556516,
 748: 559504,
 750: 562500,
 752: 565504,
 754: 568516,
 756: 571536,
 758: 574564,
 760: 577600,
 762: 580644,
 764: 583696,
 766: 586756,
 768: 589824,
 770: 592900,
 772: 595984,
 774: 599076,
 776: 602176,
 778: 605284,
 780: 608400,
 782: 611524,
 784: 614656,
 786: 617796,
 788: 620944,
 790: 624100,
 792: 627264,
 794: 630436,
 796: 633616,
 798: 636804,
 800: 640000,
 802: 643204,
 804: 646416,
 806: 649636,
 808: 652864,
 810: 656100,
 812: 659344,
 814: 662596,
 816: 665856,
 818: 669124,
 820: 672400,
 822: 675684,
 824: 678976,
 826: 682276,
 828: 685584,
 830: 688900,
 832: 692224,
 834: 695556,
 836: 698896,
 838: 702244,
 840: 705600,
 842: 708964,
 844: 712336,
 846: 715716,
 848: 719104,
 850: 722500,
 852: 725904,
 854: 729316,
 856: 732736,
 858: 736164,
 860: 739600,
 862: 743044,
 864: 746496,
 866: 749956,
 868: 753424,
 870: 756900,
 872: 760384,
 874: 763876,
 876: 767376,
 878: 770884,
 880: 774400,
 882: 777924,
 884: 781456,
 886: 784996,
 888: 788544,
 890: 792100,
 892: 795664,
 894: 799236,
 896: 802816,
 898: 806404,
 900: 810000,
 902: 813604,
 904: 817216,
 906: 820836,
 908: 824464,
 910: 828100,
 912: 831744,
 914: 835396,
 916: 839056,
 918: 842724,
 920: 846400,
 922: 850084,
 924: 853776,
 926: 857476,
 928: 861184,
 930: 864900,
 932: 868624,
 934: 872356,
 936: 876096,
 938: 879844,
 940: 883600,
 942: 887364,
 944: 891136,
 946: 894916,
 948: 898704,
 950: 902500,
 952: 906304,
 954: 910116,
 956: 913936,
 958: 917764,
 960: 921600,
 962: 925444,
 964: 929296,
 966: 933156,
 968: 937024,
 970: 940900,
 972: 944784,
 974: 948676,
 976: 952576,
 978: 956484,
 980: 960400,
 982: 964324,
 984: 968256,
 986: 972196,
 988: 976144,
 990: 980100,
 992: 984064,
 994: 988036,
 996: 992016,
 998: 996004,
 1000: 1000000,
 1002: 1004004,
 1004: 1008016,
 1006: 1012036,
 1008: 1016064,
 1010: 1020100,
 1012: 1024144,
 1014: 1028196,
 1016: 1032256,
 1018: 1036324,
 1020: 1040400,
 1022: 1044484,
 1024: 1048576,
 1026: 1052676,
 1028: 1056784,
 1030: 1060900,
 1032: 1065024,
 1034: 1069156,
 1036: 1073296,
 1038: 1077444,
 1040: 1081600,
 1042: 1085764,
 1044: 1089936,
 1046: 1094116,
 1048: 1098304,
 1050: 1102500,
 1052: 1106704,
 1054: 1110916,
 1056: 1115136,
 1058: 1119364,
 1060: 1123600,
 1062: 1127844,
 1064: 1132096,
 1066: 1136356,
 1068: 1140624,
 1070: 1144900,
 1072: 1149184,
 1074: 1153476,
 1076: 1157776,
 1078: 1162084,
 1080: 1166400,
 1082: 1170724,
 1084: 1175056,
 1086: 1179396,
 1088: 1183744,
 1090: 1188100,
 1092: 1192464,
 1094: 1196836,
 1096: 1201216,
 1098: 1205604,
 1100: 1210000,
 1102: 1214404,
 1104: 1218816,
 1106: 1223236,
 1108: 1227664,
 1110: 1232100,
 1112: 1236544,
 1114: 1240996,
 1116: 1245456,
 1118: 1249924,
 1120: 1254400,
 1122: 1258884,
 1124: 1263376,
 1126: 1267876,
 1128: 1272384,
 1130: 1276900,
 1132: 1281424,
 1134: 1285956,
 1136: 1290496,
 1138: 1295044,
 1140: 1299600,
 1142: 1304164,
 1144: 1308736,
 1146: 1313316,
 1148: 1317904,
 1150: 1322500,
 1152: 1327104,
 1154: 1331716,
 1156: 1336336,
 1158: 1340964,
 1160: 1345600,
 1162: 1350244,
 1164: 1354896,
 1166: 1359556,
 1168: 1364224,
 1170: 1368900,
 1172: 1373584,
 1174: 1378276,
 1176: 1382976,
 1178: 1387684,
 1180: 1392400,
 1182: 1397124,
 1184: 1401856,
 1186: 1406596,
 1188: 1411344,
 1190: 1416100,
 1192: 1420864,
 1194: 1425636,
 1196: 1430416,
 1198: 1435204,
 1200: 1440000,
 1202: 1444804,
 1204: 1449616,
 1206: 1454436,
 1208: 1459264,
 1210: 1464100,
 1212: 1468944,
 1214: 1473796,
 1216: 1478656,
 1218: 1483524,
 1220: 1488400,
 1222: 1493284,
 1224: 1498176,
 1226: 1503076,
 1228: 1507984,
 1230: 1512900,
 1232: 1517824,
 1234: 1522756,
 1236: 1527696,
 1238: 1532644,
 1240: 1537600,
 1242: 1542564,
 1244: 1547536,
 1246: 1552516,
 1248: 1557504,
 1250: 1562500,
 1252: 1567504,
 1254: 1572516,
 1256: 1577536,
 1258: 1582564,
 1260: 1587600,
 1262: 1592644,
 1264: 1597696,
 1266: 1602756,
 1268: 1607824,
 1270: 1612900,
 1272: 1617984,
 1274: 1623076,
 1276: 1628176,
 1278: 1633284,
 1280: 1638400,
 1282: 1643524,
 1284: 1648656,
 1286: 1653796,
 1288: 1658944,
 1290: 1664100,
 1292: 1669264,
 1294: 1674436,
 1296: 1679616,
 1298: 1684804,
 1300: 1690000,
 1302: 1695204,
 1304: 1700416,
 1306: 1705636,
 1308: 1710864,
 1310: 1716100,
 1312: 1721344,
 1314: 1726596,
 1316: 1731856,
 1318: 1737124,
 1320: 1742400,
 1322: 1747684,
 1324: 1752976,
 1326: 1758276,
 1328: 1763584,
 1330: 1768900,
 1332: 1774224,
 1334: 1779556,
 1336: 1784896,
 1338: 1790244,
 1340: 1795600,
 1342: 1800964,
 1344: 1806336,
 1346: 1811716,
 1348: 1817104,
 1350: 1822500,
 1352: 1827904,
 1354: 1833316,
 1356: 1838736,
 1358: 1844164,
 1360: 1849600,
 1362: 1855044,
 1364: 1860496,
 1366: 1865956,
 1368: 1871424,
 1370: 1876900,
 1372: 1882384,
 1374: 1887876,
 1376: 1893376,
 1378: 1898884,
 1380: 1904400,
 1382: 1909924,
 1384: 1915456,
 1386: 1920996,
 1388: 1926544,
 1390: 1932100,
 1392: 1937664,
 1394: 1943236,
 1396: 1948816,
 1398: 1954404,
 1400: 1960000,
 1402: 1965604,
 1404: 1971216,
 1406: 1976836,
 1408: 1982464,
 1410: 1988100,
 1412: 1993744,
 1414: 1999396,
 1416: 2005056,
 1418: 2010724,
 1420: 2016400,
 1422: 2022084,
 1424: 2027776,
 1426: 2033476,
 1428: 2039184,
 1430: 2044900,
 1432: 2050624,
 1434: 2056356,
 1436: 2062096,
 1438: 2067844,
 1440: 2073600,
 1442: 2079364,
 1444: 2085136,
 1446: 2090916,
 1448: 2096704,
 1450: 2102500,
 1452: 2108304,
 1454: 2114116,
 1456: 2119936,
 1458: 2125764,
 1460: 2131600,
 1462: 2137444,
 1464: 2143296,
 1466: 2149156,
 1468: 2155024,
 1470: 2160900,
 1472: 2166784,
 1474: 2172676,
 1476: 2178576,
 1478: 2184484,
 1480: 2190400,
 1482: 2196324,
 1484: 2202256,
 1486: 2208196,
 1488: 2214144,
 1490: 2220100,
 1492: 2226064,
 1494: 2232036,
 1496: 2238016,
 1498: 2244004,
 1500: 2250000,
 1502: 2256004,
 1504: 2262016,
 1506: 2268036,
 1508: 2274064,
 1510: 2280100,
 1512: 2286144,
 1514: 2292196,
 1516: 2298256,
 1518: 2304324,
 1520: 2310400,
 1522: 2316484,
 1524: 2322576,
 1526: 2328676,
 1528: 2334784,
 1530: 2340900,
 1532: 2347024,
 1534: 2353156,
 1536: 2359296,
 1538: 2365444,
 1540: 2371600,
 1542: 2377764,
 1544: 2383936,
 1546: 2390116,
 1548: 2396304,
 1550: 2402500,
 1552: 2408704,
 1554: 2414916,
 1556: 2421136,
 1558: 2427364,
 1560: 2433600,
 1562: 2439844,
 1564: 2446096,
 1566: 2452356,
 1568: 2458624,
 1570: 2464900,
 1572: 2471184,
 1574: 2477476,
 1576: 2483776,
 1578: 2490084,
 1580: 2496400,
 1582: 2502724,
 1584: 2509056,
 1586: 2515396,
 1588: 2521744,
 1590: 2528100,
 1592: 2534464,
 1594: 2540836,
 1596: 2547216,
 1598: 2553604,
 1600: 2560000,
 1602: 2566404,
 1604: 2572816,
 1606: 2579236,
 1608: 2585664,
 1610: 2592100,
 1612: 2598544,
 1614: 2604996,
 1616: 2611456,
 1618: 2617924,
 1620: 2624400,
 1622: 2630884,
 1624: 2637376,
 1626: 2643876,
 1628: 2650384,
 1630: 2656900,
 1632: 2663424,
 1634: 2669956,
 1636: 2676496,
 1638: 2683044,
 1640: 2689600,
 1642: 2696164,
 1644: 2702736,
 1646: 2709316,
 1648: 2715904,
 1650: 2722500,
 1652: 2729104,
 1654: 2735716,
 1656: 2742336,
 1658: 2748964,
 1660: 2755600,
 1662: 2762244,
 1664: 2768896,
 1666: 2775556,
 1668: 2782224,
 1670: 2788900,
 1672: 2795584,
 1674: 2802276,
 1676: 2808976,
 1678: 2815684,
 1680: 2822400,
 1682: 2829124,
 1684: 2835856,
 1686: 2842596,
 1688: 2849344,
 1690: 2856100,
 1692: 2862864,
 1694: 2869636,
 1696: 2876416,
 1698: 2883204,
 1700: 2890000,
 1702: 2896804,
 1704: 2903616,
 1706: 2910436,
 1708: 2917264,
 1710: 2924100,
 1712: 2930944,
 1714: 2937796,
 1716: 2944656,
 1718: 2951524,
 1720: 2958400,
 1722: 2965284,
 1724: 2972176,
 1726: 2979076,
 1728: 2985984,
 1730: 2992900,
 1732: 2999824,
 1734: 3006756,
 1736: 3013696,
 1738: 3020644,
 1740: 3027600,
 1742: 3034564,
 1744: 3041536,
 1746: 3048516,
 1748: 3055504,
 1750: 3062500,
 1752: 3069504,
 1754: 3076516,
 1756: 3083536,
 1758: 3090564,
 1760: 3097600,
 1762: 3104644,
 1764: 3111696,
 1766: 3118756,
 1768: 3125824,
 1770: 3132900,
 1772: 3139984,
 1774: 3147076,
 1776: 3154176,
 1778: 3161284,
 1780: 3168400,
 1782: 3175524,
 1784: 3182656,
 1786: 3189796,
 1788: 3196944,
 1790: 3204100,
 1792: 3211264,
 1794: 3218436,
 1796: 3225616,
 1798: 3232804,
 1800: 3240000,
 1802: 3247204,
 1804: 3254416,
 1806: 3261636,
 1808: 3268864,
 1810: 3276100,
 1812: 3283344,
 1814: 3290596,
 1816: 3297856,
 1818: 3305124,
 1820: 3312400,
 1822: 3319684,
 1824: 3326976,
 1826: 3334276,
 1828: 3341584,
 1830: 3348900,
 1832: 3356224,
 1834: 3363556,
 1836: 3370896,
 1838: 3378244,
 1840: 3385600,
 1842: 3392964,
 1844: 3400336,
 1846: 3407716,
 1848: 3415104,
 1850: 3422500,
 1852: 3429904,
 1854: 3437316,
 1856: 3444736,
 1858: 3452164,
 1860: 3459600,
 1862: 3467044,
 1864: 3474496,
 1866: 3481956,
 1868: 3489424,
 1870: 3496900,
 1872: 3504384,
 1874: 3511876,
 1876: 3519376,
 1878: 3526884,
 1880: 3534400,
 1882: 3541924,
 1884: 3549456,
 1886: 3556996,
 1888: 3564544,
 1890: 3572100,
 1892: 3579664,
 1894: 3587236,
 1896: 3594816,
 1898: 3602404,
 1900: 3610000,
 1902: 3617604,
 1904: 3625216,
 1906: 3632836,
 1908: 3640464,
 1910: 3648100,
 1912: 3655744,
 1914: 3663396,
 1916: 3671056,
 1918: 3678724,
 1920: 3686400,
 1922: 3694084,
 1924: 3701776,
 1926: 3709476,
 1928: 3717184,
 1930: 3724900,
 1932: 3732624,
 1934: 3740356,
 1936: 3748096,
 1938: 3755844,
 1940: 3763600,
 1942: 3771364,
 1944: 3779136,
 1946: 3786916,
 1948: 3794704,
 1950: 3802500,
 1952: 3810304,
 1954: 3818116,
 1956: 3825936,
 1958: 3833764,
 1960: 3841600,
 1962: 3849444,
 1964: 3857296,
 1966: 3865156,
 1968: 3873024,
 1970: 3880900,
 1972: 3888784,
 1974: 3896676,
 1976: 3904576,
 1978: 3912484,
 1980: 3920400,
 1982: 3928324,
 1984: 3936256,
 1986: 3944196,
 1988: 3952144,
 1990: 3960100,
 1992: 3968064,
 1994: 3976036,
 1996: 3984016,
 1998: 3992004,
 ...}

In [90]:
994009 in squres

True