In [1]:
mytupple="Hello"

In [3]:
print(type(mytupple))

<class 'str'>

In [4]:
mytupple="Hello",

In [5]:
print(type(mytupple))

<class 'tuple'>

In [8]:
mytupple=("Hello",)

print(type(mytupple))

<class 'tuple'>

In [18]:
mytup="hell",1.3,4,[1,2,3]
print(mytup)

('hell', 1.3, 4, [1, 2, 3])

In [22]:
a,b,c,d=mytup

In [23]:
a

'hell'

In [24]:
b

1.3

In [25]:
c

4

In [26]:
mytup[0]

'hell'

In [28]:
mytup[3][2]=11

mytup

In [29]:
print(mytup)

('hell', 1.3, 4, [1, 2, 11])

In [30]:
mytup[1:]

(1.3, 4, [1, 2, 11])

In [31]:
mytup[::-1]

([1, 2, 11], 4, 1.3, 'hell')

In [32]:
mytup[0:4:]

('hell', 1.3, 4, [1, 2, 11])

In [ ]:
mytup=('a','g','s','a','')